body{
    background-color: rgb(255, 255, 255);
    
}

h1{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: rgb(100, 14, 181);
}

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    font-size: 23px;
    padding: 40px;
    text-align: center;
    background-color: rgb(58, 58, 58);
}

.colour a{
    color: white;
}

.logos img{
    width: 25px;
    height: 25px;
    padding-left: 20px;
}

.banner {
    display: flex;
    overflow: hidden;
}

.banner img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}
