body {
    background-image: url('/Images/About\ GEM\ IMG.png'); 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    color: rgb(0, 0, 0);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 23px;
    padding: 35px;
    text-align: center;
    background-color: rgb(58, 58, 58);
    z-index: 1000;
}

.colour a {
    color: white;
}

.logos img {
    width: 25px;
    height: 25px;
    padding-left: 20px;
}

.banner {
    display: flex;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 100px;
}

.banner img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

footer {
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 170%;
}

#backtop{
    color: white;
    float: left;
}

.image-background {
    color: white;
    text-align: center;
    padding: 100px;
}